*
/*Шапка Меню и Логотип*/
:root{
    font-size: 16px;
    --dark-brown-color:#6C4112;
}
.menu_container {
border: 4px solid var(--dark-brown-color);
border-radius: 10px;
padding: 30px 60px;
}

.menu_container_left {

}

.menu_container_right {

}
