@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700;800&family=Source+Sans+3:wght@400;600;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    font-size: 12px;
}
.gal_container{
margin-top: 120px;
  }
  .wrapper{
   
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
 }
 .gal_container_h2 {
    font-size: 2rem;
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
 }
.slider{
    position: relative;
}
.slider{
    position: relative;
}
.slider .slick-arrow{
    position: absolute;
    bottom: -120px;
    font-size: 6rem;
    padding: 3px 10px;
    background-color: white;
    color: #0075FF;
    border-radius: 10px;
    border: none;
}

.slider .slick-next{
right: 0px;
}
.news_container{
margin-top: 240px;
} 
.news_cards_container{
margin-top: 30px;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

.news_card_container{
    margin-top: 30px;
border: 4px solid #0075FF;
border-radius: 10px;
padding: 15px;
max-width: 635px;
width: 100%;
}

.news_cards_container_data{
    color: #03F61B;
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    font-size: 2rem;
} 

a.news_cards_container_text{
 font-family: 'Source Sans 3';
 font-size: 1.5rem;
 text-decoration: none;
 color: black;
} 
a.news_cards_container_text:hover{
    color: #F2D60C;
   } 
   a.news_cards_container_text:active{
    color: #FF0000;
   } 
.yslugi_container {
    margin-top: 90px;
}

.yslugi_cards_container{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
} 

.yslugi_card_container1{
    border: 4px solid #FF0000;
    border-radius: 10px; 
    margin-top: 30px;
    padding: 30px 42px;
    text-decoration: none;
}
.yslugi_card_container2{
    border: 4px solid #03F61B;
    border-radius: 10px; 
    margin-top: 30px;
    padding: 30px 42px;
    text-decoration: none;
    margin-left: 60px;
}
.yslugi_card_container3{
    border: 4px solid #F2D60C;
    border-radius: 10px; 
    margin-top: 30px;
    padding: 30px 42px;
    text-decoration: none;
}
.yslugi_card_container4{
    border: 4px solid #0075FF;
    border-radius: 10px; 
    margin-top: 30px;
    padding: 30px 42px;
    text-decoration: none;
    margin-left: 60px;
}
.yslugi_card_container1:hover{
   background-color:#FF0000;
}
.yslugi_card_container2:hover{
    background-color:#03F61B;
 }
 .yslugi_card_container3:hover{
    background-color:#F2D60C;
 }
 .yslugi_card_container4:hover{
    background-color:#0075FF;
 }

.yslugi_card_container_name {
    display: flex;
    font-family: 'Montserrat Alternates';
    font-size: 2rem;
    font-weight: 700;
   justify-content: center;
}
.yslugi_card_container_name {
    display: flex;
    font-family: 'Montserrat Alternates';
    font-size: 2rem;
    font-weight: 700;
   justify-content: center;
   width: 346px;
}
.yslugi_card_container_name2 {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat Alternates';
    font-size: 1.5rem;
    font-weight: 700;
    width: 346px;
}
.yslugi_card_container_gos {
color: #0075FF;
}
.yslugi_card_container_yslugi  {
color: #FF0000;
}
.yslugi_card_container_yslugi:hover {
    color: white;
    }
    .yslugi_card_container_mo {
        color: #FF0000;
        font-size: 1.5rem;
    }
.yslugi_card_container_mash {
color: #FF0000;
}

.yslugi_card_container_spb {
color: #0075FF;
}
.yslugi_card_container_spb {
color: #0075FF;
}
.yslugi_card_container_spb:hover {
    color: white;
    }
    .yslugi_card_container_Portal {
        color: #FF0000;
        font-size: 1.5rem;
        margin-left: 15px;
    }

