@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700;800&family=Source+Sans+3:wght@400;600;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    font-size: 12px;
}
h2 {
    font-size: 2rem;
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    text-align: center;
    margin-top: 120px;
    align-items: center;
 }


.news_container_block {
margin-top: 60px;
display: flex;
justify-content: center;
}

.news_container_block_right_img {
border: 4px solid #0075FF;
max-width: 515.4px;
width: 100%;
max-height: 348.15px;
height: 100%;
border-radius: 10px;
}

.news_container_block_left {
margin-left: 30px;
max-width: 515px;
        width: 100%;
}
hr{
    border: 2px solid #0075FF;
border-radius: 10px;
margin-top: 60px;
margin-top: 60px;
}
.news_container_block_left_h3 {
    font-size: 1.25rem;
    font-family: 'Montserrat Alternates';
    font-weight: 700;
}
.news_container_block_left_h3_1 {
color: #03F61B;
}
.news_container_block_left_p {
    font-family: 'Source Sans 3';
    font-size: 1rem;
    font-weight: 400;
}
.news_container_block_left_p1 {
    margin-top: 30px;
    }
    .news_container_block_left_p2 {
        margin-top: 15px;
        }
.news_container_block_left_h3_2 {

    }
    .news_container_block_left1 {
        max-width: 515px;
        width: 100%;
        }
        .news_container_block_right{
            max-width: 515px;
            width: 100%;
        }
        .news_container_block_right1{
            max-width: 515px;
            width: 100%;
        }
        .news_container_block_right_div1_2{
            max-width: 515px;
            width: 100%;
        }
        h5{
color: #03F61B;
font-size: 1.25rem;
font-weight: 600px;
font-family: 'Source Sans 3';
        }
        .h5{
margin-top: 15px;
        }
        a{
            text-decoration: none;
            font-family: 'Source Sans 3';
    font-size: 1rem;
    
    color: black;
        }
        .a_1{
            margin-right: 2px;
        }
        .a_2{
            margin-top: 15px;
        }
        a:hover{
color: #F2D60C;
        }
a:active{
    color: #FF0000;
}

        .left_p_div{
            display: flex;
        }
        .left_p_div1{
            display: flex;
            flex-direction: column;
        }
        .next{
            width: 42px;
            height: 53px;
            float: right;
            
        }